<h1>
  Hola angular
</h1>
<div>
  <input type="text" [(ngModel)]="perfil.nombrereal">
</div>
<div class="cabecera-instagram">
  <div class="nombre-de-usuario">{{perfil.usuario}}</div>

  <div class="foto-usuario" id="foto-principal">
    <div>
      <img class="img-usuario" src={{perfil.fotousuario}} alt="Marta Grana">
    </div>
    <div class="nombre-real">{{perfil.nombrereal}}</div>
  </div>
  <div>
    <button type="button" (click)="cargardatos()">Recargar datos</button>
  </div>
  <div>
    <button type="button" (click)="contarpublicaciones()">Contar publicaciones</button>
  </div>
  <!-- <div>
    <button type="button" (click)="contarseguidores()">Contar seguidores</button>
  </div> -->
  <div class="datos-cuenta">
    <div class="numero">{{publicaciones}}</div>
    <div class="titulo-datos-cuenta">{{titulodato1}}</div>
  </div>
  <div class="datos-cuenta">
    <div class="numero">{{seguidores}}</div>
    <div class="titulo-datos-cuenta">{{titulodato2}}</div>
  </div>
  <div class="datos-cuenta">
    <div class="numero">{{siguiendo}}</div>
    <div class="titulo-datos-cuenta">{{titulodato3}}</div>
  </div>
</div>
<div class="contenedor-post">
  <div class="contenedor-img-post">
    <img class="img-post" src="assets/img/IMG_instagram1.jpg" alt="imagen-1">
  </div>
  <div class="contenedor-img-post" id="pikachu">
    <img class="img-post" src="assets/img/IMG_instagram2.jpg" alt="imagen-2">
  </div>
  <div class="contenedor-img-post">
    <img class="img-post" src="assets/img/IMG_instagram3.jpg" alt="imagen-3">
  </div>
</div>
<div class="contenedor-post">
  <div class="contenedor-img-post">
    <img class="img-post" src="assets/img/IMG_instagram1.jpg" alt="imagen-1">
  </div>
  <div class="contenedor-img-post">
    <img class="img-post" src="assets/img/IMG_instagram2.jpg" alt="imagen-2">
  </div>
  <div class="contenedor-img-post">
    <img class="img-post" src="assets/img/IMG_instagram3.jpg" alt="imagen-3">
  </div>

</div>